[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
phidata = "*"
pydantic = "*"
fastapi = "*"
numpy = "*"
psycopg2-binary = "*"
requests-async = "*"
sqlmodel = "*"
ipython = "*"
pylint = "*"
uvicorn = "*"
chardet = "*"
rfc3986 = "*"
httpx = "*"
httpcore = "==1.0.6"
python-dotenv = "*"
openai = "*"
duckduckgo-search = "*"
yfinance = "*"

[dev-packages]

[requires]
python_version = "3.10.16"
